<!DOCTYPE html>
<html>
  <%= render "shared/head" %>
  <div class="container py-4">
    <div class="row">
      <%= render "shared/sidebar" %>
      <div class="col-6">
        <%= render "shared/tweet_form" %>
        <% Tweet.find_each do |tweet| %>
          <%= render "tweets/tweet", tweet: tweet %>
        <% end %>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <html>