<!DOCTYPE html>
<html>
  <%= render "shared/head" %>
  <body>
    <div class="container py-4">
      <!-- Sidebar (Top Section on Mobile) -->
      <div class="row">
        <div class="col-12 mb-3">
          <%= render "shared/sidebar" %>
        </div>
      </div>

      <!-- Tweet Form (Middle Section) -->
      <div class="row">
        <div class="col-12">
          <%= render "shared/tweet_form" %>
        </div>
      </div>

      <!-- List of Tweets (Bottom Section) -->
      <div class="row">
        <div class="col-12" id="tweets">
          <%= render partial: "tweets/tweet", collection: @tweets, as: :tweet_presenter %>
        </div>
      </div>
    </div>
  </body>
</html>
