<div class="container text-center py-5" style="max-width: 540px">
  <div class="mb-3">
  <%= image_tag "doge.png", width: "100" %>
  </div>
  <div>
  <%= link_to "sign up", new_user_registration_path, class: 'btn btn-dark btn-sm mb-4 rounded-pill tweet-btn' %>
  <%= link_to "sign in", new_user_session_path,class: 'btn btn-dark btn-sm mb-4 rounded-pill tweet-btn' %>
  <div>
</div>
